<div class="row-fluid">
  <div class="span6">
    <h1>Bulk Download</h1>

    <p>Use the links below to download data from available buckets:</p>

    <table id="download-table" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>File</th>
          <th>Export Time</th>
          <th>File Size</th>
        </tr>
      </thead>
      <tbody>
        <% @buckets.each do |b| %>
          <% next if b.events.count == 0 %>
          <tr>
            <td><%= link_to "#{b.name}.csv", "/bulk/#{b.name}.csv" %></td>
            <td><%= b.bulk_csv_created_at %></td>
            <td><%= number_to_human_size(b.bulk_csv_filesize) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="span6"></div>
</div>
