<div class="row-fluid">
  <div class="span6">

    <h1>LEXKY.GOV CASES</h1>

    <p>The LEXKY.GOV Cases web application allows you to download data concerning various topics such as LexCall 311, Historical Preservation and others. The data can be used to view cases as well as create dashboards to find concentrations of cases in a given geographical location.</p>
    <p>See the <%= link_to 'API Reference', '/api_reference' %> for information on how to integrate Cases into your application. If you need to download the data in bulk, go to the <%= link_to 'Bulk Download', '/download' %> page to get all cases for a given topic in CSV format.</p>
  </div>
  <div class="span6">
    <h1>Currently Available Topics</h1>

    <p>Here is a list of tracked topics currently available:</p>

    <ul class="bucket-list">
      <li>LexCall 311 calls</li>
      <li>Building inspection complaints</li>
      <li>Building inspection permits</li>
      <li>Code enforcement cases</li>
      <li>Historic preservation cases</li>
      <li>Planning cases</li>
      <li>Right of way permits</li>
    </ul>
  </div>
</div>
